
body {
background-image: url('image2.jpg')
}

h1{
display: flex;
justify-content: center;
font-size: 65px;
color: #c7ea46
}


.wrapper {
display: flex;
justify-content: center;
}

.wrapper2 {
display: flex;
justify-content: center;
}


h2{
 display: flex;
 justify-content: center;
 font-size: 40px;
}

input#notes {
    width: 350px;
    height: 20px;
}

li{
  font-size: 25px;
}

.container1{
 display: flex;
 justify-content: center;
 border-radius: 25px;
 border: 2px solid #73AD21;
 padding: 20px; 
 width: 200px;
 height: 150px; 
 background-image: url('dark.jpg');
 background-size: cover
}


.container2{
 display: flex;
 justify-content: center;
 border-radius: 25px;
 border: 2px solid #73AD21;
 padding: 20px; 
 width: 200px;
 height: 150px; 
 background-image: url('Restaurant.jpg');
 background-size: cover
}

.container3{
 border: 2px solid #73AD21;
 padding: 20px; 
 width: 500px;
 height: 400px; 
 overflow-y: scroll;
 background-image: url('table.jpg');
 background-size: contain;
 filter: alpha(opacity=50)
}


table#add-menu {
  border: 1px solid black;
  border-collapse: collapse;
}
table td,
table th {
  border: 1px solid black;
}

button#refresh{
	display:flex;
align-items: flex-end
}

::-webkit-scrollbar {
width: 12px;
height: 12px;
}

::-webkit-scrollbar-track {
border: 1px solid yellowgreen;
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
background: yellowgreen;  
border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
background: #88ba1c;  
}


.split {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  border: 2px solid black
}

.left {
  left: 0;
  background-color: lightblue;
}